$main-font: "Arial";
$type-font: sans-serif;

$primary-color: #ffffff;
$text-color: #48494d;

// $btn-hover-color: #6d9a47;
// $secondary-color: #7eb252;
// $light-green: #c8dcba;
// $very-light: #cddcbc;
// $text-green: #a8c48c;
// $green-metrics: #a4c58c;

// $background: #f6f9f3;

$section-margin-bottom: 80px;

$two-products-width: 595px;
$three-products-width: 895px;
$desktop-width: 1170px;
