.banner {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.banner__link {
  display: flex;
}

.banner__img {
  max-width: 653px;
  height: 92px;
}

@media (min-width: $desktop-width) {
  .banner__img {
    max-width: 1170px;
    height: 165px;
  }
}
