.category-slider__title {
  margin: 0 0 25px 0;

  text-align: center;
  font-size: 25px;
  line-height: 30px;

  &--big {
    font-size: 30px;
    line-height: 36px;
  }
}

.category-slider__category-list {
  display: flex;
  padding: 0;
  margin: 0 0 25px 25px;

  list-style: none;
  overflow-x: scroll;
  white-space: nowrap;

  &--desktop {
    display: none;
  }
}

.category-slider__category-item {
  margin-right: 35px;
  padding-bottom: 10px;

  font-size: 15px;
  line-height: 18px;

  &--checked {
    border-bottom: 2px solid #ff7931;
  }

  &--checked .category-slider__category-item-link {
    font-weight: 600;
  }
}

.category-slider__category-item-link {
  text-transform: lowercase;
  color: #48494d;
}

.category-slider__goods-block {
  position: relative;
}

.category-slider__goods-wrapper {
  position: relative;
  width: 270px;
  margin: 0 auto 25px;

  overflow: hidden;
}

.category-slider__goods-list {
  display: flex;
  width: fit-content;
  padding: 0;
  margin: 0;

  list-style: none;
}

.category-slider__goods-item {
  width: 268px;
  margin-right: 30px;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.category-slider__goods-toggles {
  margin-bottom: 40px;
}

.category-slider__more-btn {
  margin: 0 34px;
}

@media (min-width: $two-products-width) {
  .category-slider__goods-wrapper {
    width: 570px;
  }
}

@media (min-width: $three-products-width) {
  .category-slider__goods-wrapper {
    width: 870px;
  }
}

@media (min-width: $desktop-width) {
  .category-slider--mobile {
    display: none;
  }

  .category-slider__title {
    text-align: left;
  }

  .category-slider__category-list {
    margin-left: 0;
    overflow-x: unset;

    &--desktop {
      display: flex;
    }
  }

  .category-slider__goods-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .category-slider__category-item {
    cursor: pointer;
  }

  .category-slider__goods-wrapper {
    width: 100%;
    margin: 0;
    padding: 0 2px;
  }

  .category-slider__goods-toggles {
    margin-bottom: 0;
  }

  .category-slider__goods-list {
    margin-bottom: 35px;

    &--margin {
      margin-bottom: 0;
    }
  }

  .category-slider__goods-more-btn:hover .category-slider__goods-more-btn-text {
    color: #ff7931;
  }

  .category-slider__goods-more-btn-text {
    width: 252px;

    transition: 0.3s ease-in-out;

    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .category-slider__slider-btn {
    top: 38%;

    &--left {
      left: -66px;
    }

    &--right {
      right: -66px;
    }
  }
}
