.main-wrapper {
  position: relative;
  overflow-x: hidden;
}

.main-wrapper__hamburger-nav {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;

  width: 243px;
  height: 100%;

  background-color: #ffffff;

  transition: all 0.5s;
  transform: translateX(-100%);

  &--open {
    overflow-y: scroll;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    transform: translateX(0%);
  }
}

.main-wrapper__content-container {
  transition: all 0.5s;

  &--filter-active {
    overflow: hidden;

    transform: translateX(242px);
  }
}

@media (min-width: $desktop-width) {
  .main-wrapper__hamburger-nav {
    display: none;
  }
}
