.page-main__title {
  padding-left: 16px;
  margin: 0;

  font-size: 20px;
  letter-spacing: 1px;
}

.page-main__promo {
  margin-bottom: 80px;
}

.page-main__search {
  padding-left: 16px;
  margin-bottom: $section-margin-bottom;
}

.page-main__categories {
  margin-bottom: $section-margin-bottom;
}

.page-main__category-slider {
  margin-bottom: $section-margin-bottom;
}

.page-main__banner {
  margin-bottom: $section-margin-bottom;
}

.page-main__breadcrumbs {
  margin-bottom: 31px;
}

.page-main__control-panel {
  margin-top: 23px;
}

.page-main__filters {
  // Будут свойства
}

.page-main__products-catalog {
  padding: 30px 22px;
  margin-bottom: 48px;
}

.page-main__banner-gradient {
  margin-bottom: 80px;
}

.page-main__product-card {
  padding: 0 16px;
  margin-bottom: 40px;
}

@media (min-width: $desktop-width) {
  .page-main {
    @include desktop-wrapper;

    &--catalog {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr repeat(4, min-content);
      padding-bottom: 100px;
    }
  }

  .page-main__title {
    width: 1170px;
    padding-left: 0;
    margin: 0 auto 10px;

    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1.5px;

    &--catalog {
      margin-bottom: 20px;
      grid-column: 1/-1;
      grid-row: 2/3;
    }
  }

  .page-main__promo {
    margin-bottom: 73px;
  }

  .page-main__search {
    padding: 0;
    margin-bottom: $section-margin-bottom;
  }

  .page-main__categories {
    margin-bottom: $section-margin-bottom;
  }

  .page-main__banner {
    margin-bottom: $section-margin-bottom;
  }

  .page-main__breadcrumbs {
    grid-column: 1/-1;
    grid-row: 1/2;
    margin-bottom: 40px;
  }

  .page-main__control-panel {
    grid-column: 1/-1;
    grid-row: 3/4;
    margin-top: 0;
    margin-bottom: 47px;
  }

  .page-main__filters {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-right: 27px;
  }

  .page-main__products {
    grid-column: 2/-1;
    grid-row: 4/5;
  }

  .page-main__products-catalog {
    grid-column: 2/3;
    grid-row: 4/5;
    padding: 0;
    margin: 0;
  }

  .page-main__product-card {
    padding: 0;
  }
}
