.products-catalog__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  justify-content: center;
  gap: 30px;
  margin: 0 3px 30px;
}

.products-catalog__item {
  width: 270px;
}

.products-catalog__more-btn {
  margin: 0 10px 50px;
}

.products-catalog__pagination-list {
  @include reset-list;
  display: flex;
  justify-content: center;
}

.products-catalog__pagination-item {
  display: flex;
  // margin-right: 8px;

  font-size: 18px;
  line-height: 22px;
  color: #a8a8a8;

  &--ellipsis {
    align-items: center;
    width: 17px;
    margin: 0 7px;
  }

  &--active {
    color: #ff7931;

    outline: 1px solid #ff7931;
  }

  &:nth-last-child(3),
  &:nth-last-child(1) {
    margin: 0;
  }
}

.products-catalog__pagination-link {
  padding: 8px 14px;

  color: inherit;

  &:hover {
    outline: 1px solid #ff7931;
  }
}

@media (min-width: $desktop-width) {
  .products-catalog {
    width: 870px;
  }

  .products-catalog__list {
    margin: 0 0 70px;
  }

  .products-catalog__more-btn {
    display: none;
  }
}
