.slider-buttons {
  display: none;
}

@media (min-width: $desktop-width) {
  .slider-buttons {
    display: block;
    margin: 0;
    padding: 0;

    list-style: none;
    cursor: pointer;
  }

  .slider-buttons__btn {
    position: absolute;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    transition: 0.3s;

    &:hover {
      background-color: #d7d9df;
    }

    &:hover .slider-buttons__img {
      stroke-opacity: 1;
    }
  }

  .slider-buttons__img {
    stroke: white;

    &--black {
      stroke: black;
      stroke-opacity: 0.3;
    }

    &--left {
      transform: rotate(180deg);
    }
  }
}
